@import "../../styles/variables.scss";

.dialog-box {
  margin: 10px;
}

.admin-dialog-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

.admin-dialog {
  min-height: 95vh;
}

.admin-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-error-message {
  color: red;
  font-weight: bold;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.not-existing-class {
  background-image: url("../../images/logo_horizontal.png");
}
