@import "../../styles/variables.scss";

.dialog-box {
  margin: 50px;
}

.admin-dialog-content {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 800px;
}

.admin-dialog {
  width: 1400px;
  min-height: 400px;
}

.admin-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-error-message {
  color: red;
  font-weight: bold;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
