<!DOCTYPE html>
<html>
<head>
  <title>Privacy Policy - streetTUner - TU Wien, Institut für Verkehrswissenschaften, Forschungsbereich Verkehrsplanung und Verkehrstechnik</title>

  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta name="title" content="Streetmix">
  <meta name="description" content="A collaborative civic engagement platform for urban design. Design, remix, and share your neighborhood street with Streetmix.">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">

  <link href="/favicon.ico" rel="shortcut icon">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Rubik:ital,wght@0,400;0,500;1,500&display=swap" rel="stylesheet">
  <link href="/assets/main.{{cacheTimestamp}}.css" rel="stylesheet">
</head>
<body>
  <body tabindex="1">
    <div id="privacy">
      <div class="privacy-content">
        <h1>streetTUner - Datenschutzerklärung</h1>
        <h2>Allgemeines</h2>
        Der Datenschutz und dessen Sicherstellung sind wichtige Anliegen der TU Wien. Die Verarbeitung personenbezogener Daten erfolgt unter strikter Wahrung der Grundsätze und Anforderungen, die in der DSGVO (Datenschutz-Grundverordnung) und dem österreichischen DSG (Datenschutzgesetz) festgelegt sind. Die TU Wien verarbeitet ausschließlich jene Daten, die für die Erreichung der angestrebten Zwecke erforderlich sind, und ist stets bestrebt, die Sicherheit und Richtigkeit der Daten zur gewährleisten.

        Diese Anwendung wird von der Technischen Universität Wien, Institut für Verkehrswissenschaften, Forschungsbereich für Verkehrsplanung und Verkehrstechnik, Gußhausstraße 30/230, 1040 Wien (im Folgenden „wir“ bzw. „uns“) angeboten.

        Die vorliegende Datenschutzerklärung beschreibt, in welchem Umfang und wie wir personenbezogene Daten im Zusammenhang mit dieser Anwendung verarbeiten und soll Ihnen deutlich machen, dass der verantwortungsbewusste Umgang mit personenbezogenen Daten besondere Bedeutung hat.

        <h2>Verantwortlicher</h2>
        Rektorat der Technischen Universität <br/>
        Wien Karlsplatz 13 <br/>
        1040 Wien<br/>

        <h2>Datenschutzbeauftragt</h2>
        Mag. Christina Thirsfeld <br/>
        Technische Universität Wien Karlsplatz 13/018, 1040 Wien <br/>
        datenschutz@tuwien.ac.at

        <h2>Kontaktperson</h2>
        Takeru Shibayama<br/>
        Technische Universität Wien<br/>
        Institut für Verkehrswissenschaften<br/>
        Forschungsbereich für Verkehrsplanung und Verkehrstechnik<br/>
        Gußhausstraße 30/230-1, 1040 Wien<br/>
        takeru.shibayama@tuwien.ac.at<br/>

        <h2>Folgende Daten werden bei dieser Datenverarbeitung verarbeitet:</h2>

        (1) automatisch erhobene Daten <br/>
        •	Browser<br/>
        •	Betriebssystem<br/>
        •	IP-Adresse<br/>

        (2) Daten im Zuge der Anwendung (Eingabe freiwillig) <br/>
        •	Vollständiger Name<br/>
        •	Matrikelnummer<br/>
        •	E-Mail-Adresse<br/>


        Die Daten werden direkt bei Ihnen erhoben.


        <h2>Zweck dieser Datenverarbeitung: </h2>
        Die Erhebung und Verarbeitung der Daten dient der Erstellung von Straßenquerschnittsabbildungen und dem Schutz vor Missbrauch. Abgebildete Straßenquerschnitte samt eingetragenen Metadaten werden für Lehre und Forschung verwendet. Die automatisch erhobenen Daten werden für Systemwartung und -betrieb sowie für die Verbesserung der Anwendung verwendet. <br/>
        Der lokale Teil der E-Mail-Adresse (der Teil links des “@”) ist für andere Nutzer sichtbar, wenn eingeloggt eine Straßenquerschnittsabbildung erstellt wird. <br/>
        Die E-Mailadresse wird für einen passwortfreien Log-in (Authentifizierung) durch die Platform Auth0 Inc. (10800 NE 8th Street, Suite 600, Bellevue, WA 98004, USA) verarbeitet. Die Datenschutzerklärung von Auth0 Inc. ist unter https://auth0.com/docs/compliance in englischer Sprache abrufbar. Die Technische Universität Wien behält sich das Recht vor, die beim Log-in gesammelten und gespeicherten E-Mailadressen, die bei Auth0 Inc. gespeichert sind, zu löschen.<br/>

        Eine sonstige Weitergabe der automatisch erhobenen Daten an Dritte erfolgt nicht.

        <h2>Empfänger_innen der Daten:</h2>
        Technische Universität Wien<br/>
        Auth0 Inc. (nur die E-Mailadresse und die automatisch erhobenen Daten)<br/>

        <h2>Rechtsgrundlage</h2>
        Rechtsgrundlage dieser Datenverarbeitung ist die Erfüllung einer gesetzlichen Verpflichtung gemäß Art 6 Abs 1 c DSGVO iVm § 3 UG und FOG (Forschungsorganisationsgesetz). 

        <h2>Dauer der Datenspeicherung: </h2>
        Die TU Wien unterliegt als Forschungseinrichtung unterschiedlichen Aufbewahrungsfristen, welche eine langfristige Speicherung der Daten (bis zu 20 Jahre oder länger) notwendig machen können.

        <h2>Unsere Kontaktdaten:</h2>
        Sollten Sie zur Verarbeitung Ihrer Daten Fragen oder weitere Anliegen haben, wenden Sie sich bitte an: <br/>
        •	Forschungsbereich für Verkehrsplanung und Verkehrstechnik (E 230/1) an der Technischen Universität Wien.<br/>
        •	E-Mail: fvv.office@tuwien.ac.at<br/>

        <h2>Weiterführende Informationen zum Datenschutz an der TU Wien</h2>

        Eine allgemeine Übersicht zum Thema „Datenschutz“ an der TU Wien sowie entsprechende organisatorische Informationen finden Sie online auf den allgemeinen Webseiten der TU Wien.

        <h2>Rechte der Betroffener</h2>
        Als Betroffene_r dieser Datenverarbeitung haben Sie gegenüber der TU Wien folgende Rechte: <br/>
        Recht auf Auskunft <br/>
        Recht auf Richtigstellung <br/>
        Recht auf Löschung<br/>
        Recht auf Einschränkung der Verarbeitung Recht auf Datenübertragbarkeit<br/>

        Weiters haben Sie als Betroffene_r das Recht, sich bei der Datenschutzbehörde über eine vermeintliche unzulässige Datenverarbeitung beziehungsweise über eine Nichterfüllung unserer Pflichten aus der DSGVO zu beschweren.
      </div>
      <div class="clouds-background">
        <div class="rear-clouds"></div>
        <div class="front-clouds"></div>
      </div>
    </div>  
</body>
</html>
