<!DOCTYPE html>
<html>
<head>
  <title>Privacy Policy - streetTUner - TU Wien, Institut für Verkehrswissenschaften, Forschungsbereich Verkehrsplanung und Verkehrstechnik</title>

  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta name="title" content="Streetmix">
  <meta name="description" content="A collaborative civic engagement platform for urban design. Design, remix, and share your neighborhood street with Streetmix.">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">

  <link href="/favicon.ico" rel="shortcut icon">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Rubik:ital,wght@0,400;0,500;1,500&display=swap" rel="stylesheet">
  <link href="/assets/main.{{cacheTimestamp}}.css" rel="stylesheet">
</head>
<body>
  <body tabindex="1">
    <div id="privacy">

      <div class="privacy-content">
        <h1>Nutzungsbedingungen für die Verwendung von StreetTUner</h1>        
        <h2>Allgemeine Nutzungsbedingungen</h2>
        <h3>1. Begriffsbestimmungen</h3>
          1.1 StreetTUner: die Dienste, die unter streettuner.fvv.tuwien.ac.at abrufbar sind <br/>
          1.2 Straßenquerschnitt: vom Nutzer erstellter Datensatz bestehend aus Abmessungen, Anordnung von Querschnittselementen und Metadaten<br/>
          1.3 Straßenquerschnittsabbildung: grafische Darstellung des Straßenquerschnitts, die mit der Hilfe des StreetTUner generiert wurde<br/>

        <h3>2. Geltungsbereich </h3>
          2.1 Die nachfolgenden allgemeinen Nutzungsbedingungen gelten für die Nutzung des StreetTUner. <br/>
          2.2 Diese Nutzungsbedingungen gelangen für jene Nutzer zur Anwendung, die diese Nutzungsbedingungen anerkennen und sich den Pflichten dieser Nutzungsbedingungen entsprechend verhalten. Der gesonderte Abschluss einer schriftlichen Nutzungsvereinbarung mit der Technischen Universität Wien (TU Wien) ist nicht erforderlich. <br/>
          2.3 Die TU Wien behält sich vor, das eingeräumte, nicht ausschließliche Nutzungsrecht jederzeit ohne Angabe von Gründen zu widerrufen oder die Nutzungsbedingungen zu ändern.<br/>
          2.4 Erklärungen, diese Nutzungsbedingungen oder Teile davon nicht anerkennen oder ändern zu wollen, bleiben der TU Wien gegenüber unwirksam. In diesem Fall wird von der TU Wien kein Nutzungsrecht eingeräumt.<br/>

        <h3>3. Nutzungsrecht</h3>
          3.1 Dem Nutzer wird das nicht ausschließliche Recht eingeräumt, den StreetTUner für eigene - private oder im Rahmen seines Betriebs- und Berechtigungsumfanges liegende - Zwecke zu nutzen, solange diese nicht in der kommerziellen Verwertung der originalen oder bearbeiteten Daten bestehen und sofern diese Nutzungsbedingungen nicht ausdrücklich etwas anders vorsehen (Veröffentlichungen entsprechend Punkt 5.2). Der Nutzer ist insbesondere auch berechtigt, eine Straßenquerschnittsabbildung herunterzuladen, zu bearbeiten, zu verändern oder zu ergänzen. <br/>
          3.2 Um bestimmte Funktionen des StreetTUner nutzen zu können, ist es notwendig, persönliche Informationen (E-Mail-Adresse) im Zuge des Log-in-Prozesses anzugeben. Damit stimmt der Nutzer zu, dass der lokale Teil seiner E-Mail-Adresse (der Teil links des “@”) für andere Nutzer sichtbar ist.<br/>
          3.3 Durch die Nutzung des StreetTUner stimmt der Nutzer zu, dass Straßenquerschnitte und Straßenquerschnittsabbildungen unter der CC BY-SA 4.0 Lizenz allen Nutzern von StreetTUner zur Verfügung gestellt werden. <br/>
          3.4 Durch die Einräumung der Abfrageberechtigung auf die Online-Dienste entsteht weder ein Anspruch hinsichtlich der Verfügbarkeit, Performance oder Stabilität der EDV-Anwendungen zu den gegenständlichen Diensten noch auf die Nutzung der den Diensten zugrunde liegenden Datenbestände.<br/>
          3.5 Das eingeräumte Nutzungsrecht erlischt, wenn der Nutzer oder die von ihm beschäftigten bzw. beauftragten Personen diese Nutzungsbedingungen verletzen, oder bei Widerruf durch die TU Wien.<br/>
        
        <h3>4. Nutzungsrecht der TU Wien</h3>
          4.1 Durch die Nutzung von StreetTUner erteilt der Nutzer der TU Wien ein nicht ausschließliches, unentgeltliches, dauerhaftes, unwiderrufbares, übertragbares, weltweites Recht, die von ihm erstellten Straßenquerschnitte und Straßenquerschnittsabbildungen inklusive Änderungen daran für Zwecke der Forschung und Lehre zu nutzen.<br/>
        
        <h3>5. Pflichten des Nutzers</h3>
          5.1 Der Nutzer verpflichtet sich, StreetTUner ausschließlich entsprechend der Nutzungsbedingungen zu nutzen. Demzufolge ist insbesondere untersagt:<br/>
          •	die programmgesteuerte massenhafte bzw. regelbasierte Nutzung der Dienste von StreetTUner;<br/>
          •	die Eingabe von personenbezogener Daten Dritter in den Metadaten einschließlich der Straßenbezeichnung.<br/>
          •	die Verbreitung von Werbung, Verleumdung, Rufschädigung, Verstoß gegen die guten Sitten, Beschädigung des Eigentums oder der Rechte der TU Wien sowie von Dritten, von Computerviren oder schadhaften Programmen, und sonstige illegale Aktivitäten über die Eingabefelder der Metadaten einschließlich der Straßenbezeichnung<br/>
          5.2 Der Nutzer verpflichtet sich, von jedem Medienwerk, in welchem aus den überlassenen Daten erzeugte tabellarische oder bildliche Darstellungen veröffentlicht wurden, der TU Wien zwei Medienstücke unentgeltlich zur Verfügung zu stellen und auf seine Kosten an folgende Adresse zu liefern: Forschungsbereich für Verkehrsplanung und Verkehrstechnik, TU Wien, Karlsplatz 13/230-1, 1040 Wien.
        
        <h3>6. Urheberbezeichnung</h3>
          6.1 Bei Veröffentlichungen jeglicher Art ist anzugeben: "Quelle: TU Wien - StreetTUner", wobei bei<br/>
          •	Online-Medien der Text als Link auf die Homepage "TU Wien - StreetTUner" auszuführen ist,<br/>
          •	bei analogen Medien der Link als Text anzugeben ist: streettuner.fvv.tuwien.ac.at<br/>
        
        <h3>7. Haftungsausschluss</h3>
          7.1. Der TU Wien sowie Streetmix LLC sind nicht verpflichtet, Ergänzungen oder Aktualisierungen an der zugrundeliegenden Datenbank sowie den Querschnittselementen vorzunehmen, oder diese Dienste in Zukunft weiterhin anzubieten.<br/>
          7.2 Die TU Wien übernimmt keine Haftung für die Richtigkeit, Vollständigkeit oder Aktualität von Straßenquerschnitten und Straßenquerschnittsabbildungen. Im Rahmen von StreetTUner werden von Nutzern erstellte Straßenquerschnitte und Straßenquerschnittsabbildungen abgebildet. Diese können von der TU Wien grundsätzlich nicht auf ihre Richtigkeit, Vollständigkeit oder Aktualität hin überprüft werden. Die Haftung dafür sowie für Folgeschäden aus der Nutzung der Straßenquerschnitte und Straßenquerschnittsabbildungen oder der Verwertung der daraus gewonnenen Informationen ist ausgeschlossen. Der Nutzer nimmt dies ausdrücklich zur Kenntnis.<br/>
        
        <h3>8. Gerichtsstand und anwendbares Recht</h3>
          8.1 Auf diesen Vertrag ist unter Ausschluss der Verweisungsnormen das Recht der Republik Österreich anzuwenden. <br/>
          8.2 Für allfällige gerichtliche Streitigkeiten vereinbaren die Vertragspartner die ausschließliche Zuständigkeit des Handelsgerichtes Wien oder, nach Wahl des Klägers, das zuständige Gericht am Sitz des Beklagten.<br/>

        <h1>streetTUner - Datenschutzerklärung</h1>
        <h2>Allgemeines</h2>
        Der Datenschutz und dessen Sicherstellung sind wichtige Anliegen der TU Wien. Die Verarbeitung personenbezogener Daten erfolgt unter strikter Wahrung der Grundsätze und Anforderungen, die in der DSGVO (Datenschutz-Grundverordnung) und dem österreichischen DSG (Datenschutzgesetz) festgelegt sind. Die TU Wien verarbeitet ausschließlich jene Daten, die für die Erreichung der angestrebten Zwecke erforderlich sind, und ist stets bestrebt, die Sicherheit und Richtigkeit der Daten zur gewährleisten.

        Diese Anwendung wird von der Technischen Universität Wien, Institut für Verkehrswissenschaften, Forschungsbereich für Verkehrsplanung und Verkehrstechnik, Gußhausstraße 30/230, 1040 Wien (im Folgenden „wir“ bzw. „uns“) angeboten.

        Die vorliegende Datenschutzerklärung beschreibt, in welchem Umfang und wie wir personenbezogene Daten im Zusammenhang mit dieser Anwendung verarbeiten und soll Ihnen deutlich machen, dass der verantwortungsbewusste Umgang mit personenbezogenen Daten besondere Bedeutung hat.

        <h2>Verantwortlicher</h2>
        Rektorat der Technischen Universität <br/>
        Wien Karlsplatz 13 <br/>
        1040 Wien<br/>

        <h2>Datenschutzbeauftragt</h2>
        Mag. Christina Thirsfeld <br/>
        Technische Universität Wien Karlsplatz 13/018, 1040 Wien <br/>
        datenschutz@tuwien.ac.at

        <h2>Kontaktperson</h2>
        Takeru Shibayama<br/>
        Technische Universität Wien<br/>
        Institut für Verkehrswissenschaften<br/>
        Forschungsbereich für Verkehrsplanung und Verkehrstechnik<br/>
        Gußhausstraße 30/230-1, 1040 Wien<br/>
        takeru.shibayama@tuwien.ac.at<br/>

        <h2>Folgende Daten werden bei dieser Datenverarbeitung verarbeitet:</h2>

        (1) automatisch erhobene Daten <br/>
        •	Browser<br/>
        •	Betriebssystem<br/>
        •	IP-Adresse<br/>

        (2) Daten im Zuge der Anwendung (Eingabe freiwillig) <br/>
        •	Vollständiger Name<br/>
        •	Matrikelnummer<br/>
        •	E-Mail-Adresse<br/>


        Die Daten werden direkt bei Ihnen erhoben.


        <h2>Zweck dieser Datenverarbeitung: </h2>
        Die Erhebung und Verarbeitung der Daten dient der Erstellung von Straßenquerschnittsabbildungen und dem Schutz vor Missbrauch. Abgebildete Straßenquerschnitte samt eingetragenen Metadaten werden für Lehre und Forschung verwendet. Die automatisch erhobenen Daten werden für Systemwartung und -betrieb sowie für die Verbesserung der Anwendung verwendet. <br/>
        Der lokale Teil der E-Mail-Adresse (der Teil links des “@”) ist für andere Nutzer sichtbar, wenn eingeloggt eine Straßenquerschnittsabbildung erstellt wird. <br/>
        Die E-Mailadresse wird für einen passwortfreien Log-in (Authentifizierung) durch die Platform Auth0 Inc. (10800 NE 8th Street, Suite 600, Bellevue, WA 98004, USA) verarbeitet. Die Datenschutzerklärung von Auth0 Inc. ist unter https://auth0.com/docs/compliance in englischer Sprache abrufbar. Die Technische Universität Wien behält sich das Recht vor, die beim Log-in gesammelten und gespeicherten E-Mailadressen, die bei Auth0 Inc. gespeichert sind, zu löschen.<br/>

        Eine sonstige Weitergabe der automatisch erhobenen Daten an Dritte erfolgt nicht.

        <h2>Empfänger_innen der Daten:</h2>
        Technische Universität Wien<br/>
        Auth0 Inc. (nur die E-Mailadresse und die automatisch erhobenen Daten)<br/>

        <h2>Rechtsgrundlage</h2>
        Rechtsgrundlage dieser Datenverarbeitung ist die Erfüllung einer gesetzlichen Verpflichtung gemäß Art 6 Abs 1 c DSGVO iVm § 3 UG und FOG (Forschungsorganisationsgesetz). 

        <h2>Dauer der Datenspeicherung: </h2>
        Die TU Wien unterliegt als Forschungseinrichtung unterschiedlichen Aufbewahrungsfristen, welche eine langfristige Speicherung der Daten (bis zu 20 Jahre oder länger) notwendig machen können.

        <h2>Unsere Kontaktdaten:</h2>
        Sollten Sie zur Verarbeitung Ihrer Daten Fragen oder weitere Anliegen haben, wenden Sie sich bitte an: <br/>
        •	Forschungsbereich für Verkehrsplanung und Verkehrstechnik (E 230/1) an der Technischen Universität Wien.<br/>
        •	E-Mail: fvv.office@tuwien.ac.at<br/>

        <h2>Weiterführende Informationen zum Datenschutz an der TU Wien</h2>

        Eine allgemeine Übersicht zum Thema „Datenschutz“ an der TU Wien sowie entsprechende organisatorische Informationen finden Sie online auf den allgemeinen Webseiten der TU Wien.

        <h2>Rechte der Betroffener</h2>
        Als Betroffene_r dieser Datenverarbeitung haben Sie gegenüber der TU Wien folgende Rechte: <br/>
        Recht auf Auskunft <br/>
        Recht auf Richtigstellung <br/>
        Recht auf Löschung<br/>
        Recht auf Einschränkung der Verarbeitung Recht auf Datenübertragbarkeit<br/>

        Weiters haben Sie als Betroffene_r das Recht, sich bei der Datenschutzbehörde über eine vermeintliche unzulässige Datenverarbeitung beziehungsweise über eine Nichterfüllung unserer Pflichten aus der DSGVO zu beschweren.

        <h1>Streetmix Privacy Policy</h1>
        <iframe width="100%" height="600px" src="https://streetmix.github.io/static/privacy-policy/"></iframe>
      </div>

      <div class="clouds-background">
        <div class="rear-clouds"></div>
        <div class="front-clouds"></div>
      </div>
    </div>  
</body>
</html>
